version: '3'
services:
  db:
    image: postgres
    volumes:
      - ../../tmp/db:/var/lib/postgresql/data
    ports:
      - "5432"
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: my_store_development
  web:
    build: .
    command: bundle exec rails s -p 8000 -b '0.0.0.0'
    volumes:
      - .:/home/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_PASSWORD: password
      DATABASE_HOST: db
      DATABASE_USERNAME: postgres
