<div class="row">
  <div class="col-12 mb-4">
    <div class="form-group">
      <span class="d-block mb-2">
        <label class="form-check-label spree-radio-label">
          <%= form.check_box :pickup, value: true, checked: simple_current_order.pickup? %>
          <span class="spree-radio-label-custom-input"></span>
        </label>
      </span>
    </div>
  </div> 
</div>