<div class="vendors">
  <div class="container">
    <% @vendors.each do |vendor| %>
      <div class="d-none d-md-block mt-4">
        <h1 class="text-uppercase text-center mb-4"><%= vendor.name %></h1>
        <% if @near_vendors && @near_vendors.include?(vendor) %>
          <span><%= Spree.t(:closest_vendor) %></span>
        <% end %>
        <div class="row mb-5 pb-5 vendors-list-item">
          <div class="col-12 col-md-6">
            <div class="vendors-list-item-about">
              <%= vendor.about_us %>
            </div>
          </div>
          <div class="col-12 col-md-3 d-flex flex-column align-items-end justify-content-center">
            <div class="vendors-list-item-btn w-75">
              <%= link_to Spree.t(:shop), vendor, class: "btn btn-primary w-100" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>