<div class="vendor">
  <div class="container">
    <%= render 'header', vendor: @vendor %>
  </div>
  <div data-hook="vendor_products">
    <%= render template: 'spree/products/index', colors: @colors, sizes: @sizes %>
  </div>
</div>